@font-face{
	font-family:"Padauk";
	font-weight:700;
	font-style:normal;
	src: url('./fonts/Padauk-Bold.ttf');
	font-display:swap;
}
@font-face{
	font-family:"Padauk";
	font-weight:400;
	font-style:normal;
	src: url('./fonts/Padauk-Regular.ttf');
	font-display:swap;
}

	body {
	
	/*font-family:"Padauk",Helvetica ,"Merriweather Sans",sans-serif	*/
	background-color: transparent;
    background-image: linear-gradient(180deg, #E0CE2170 0%, #FFFFFF 100%);
	/*background-color: #FAF7DD;*/
	}
	
	div{
		border:0px solid black;
		float: left;
		text-align:center;
	}
	
	fieldset {
		border-color: #fff;
	}
	
	select{
			border: 1px solid #ccd;
	}
	select.clsFlat{
		border: 0px solid #ccd;
		background-color:transparent;
		font-family: Helvetica  ;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
	
	.clsRightAlign{
		text-align: right;
	}
	
	input.clsFlat{
		border: 0px solid #bbc;
		background-color:transparent;
		text-align: right;
		font-family: Helvetica  ;
	}
	
	.clsTitle{
		color: #666;
		font-size: 14pt;
		font-weight: bold;
	}
	
	.clsResult{
		color: #444444;
		font-size: 15pt;
		font-weight: bold;
	}
	
	.clsText{
		color: #666;
		font-size: 13pt;
	}
	
	.clsTotalCost{
		color: #990000;
		font-size: 18pt;
		border: 0px;
		font-weight: bold;
	}
	
	.clsMain{
		margin: auto;
		width: 937px;
		float:none;
		background-color: transparent;
	}
	.clsGrayImage {
	  filter: gray; /* IE6-9 */
	  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
	}

	.clsRemoveGrayImage {
	  -webkit-filter: grayscale(0);
	  filter: none;
	}